body, div, p, ul, li, img, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

.all {
  width: 100%;
  height: 100%;
  background: white;
  padding: 20px;
  box-sizing: border-box; }
  .all .first {
    width: 1240px;
    height: 640px;
    background: url(../img/register/2.jpg) no-repeat;
    background-size: 1240px 640px;
    padding: 140px 0 0 200px;
    box-sizing: border-box; }
    .all .first .second {
      border-radius: 4px;
      width: 400px;
      height: 400px;
      float: left;
      background: #54cfae;
      padding: 40px;
      box-sizing: border-box;
      z-index: 99; }
      .all .first .second p {
        font-size: 16px;
        text-indent: 20px;
        color: #fbfbfb;
        margin-bottom: 20px; }
      .all .first .second span {
        color: #fbfbfb; }
    .all .first .third {
      margin-top: 30px;
      border-radius: 14px;
      padding: 80px 70px 0;
      box-sizing: border-box;
      float: left;
      width: 400px;
      height: 340px;
      background: #fbfbfb; }
      .all .first .third input {
        height: 30px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: none;
        border-bottom: 1px solid #abe8cf; }
      .all .first .third .btn {
        width: 180px;
        margin: 20px 0 0 30px; }

#top {
  display: flex;
  align-items: center;
  padding-left: 176px;
  box-sizing: border-box;
  height: 66px;
  border-bottom: 1px solid #d9d9d9; }

#footer {
  background: #f2f2f2;
  padding-top: 24px;
  box-sizing: border-box;
  height: 600px; }
  #footer #f1 {
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    width: 980px;
    background: white;
    margin: 0 auto;
    height: 480px; }
    #footer #f1 #hint {
      width: 140px;
      height: 30px;
      margin-left: 310px;
      border-radius: 4px; }
    #footer #f1 #ff1 {
      width: 980px;
      height: 80px;
      border-bottom: 1px dashed #dedede;
      margin-bottom: 30px; }
      #footer #f1 #ff1 span {
        display: inline-block;
        line-height: 80px;
        height: 80px; }
    #footer #f1 #sp1 {
      color: #ff9630;
      font-size: 22px;
      margin-left: 20px; }
    #footer #f1 #sp2 {
      color: #7e7e7e;
      font-size: 12px;
      margin-left: 680px; }
    #footer #f1 .txt {
      display: block;
      width: 360px;
      height: 34px;
      color: #555;
      padding: 6px 12px;
      box-sizing: border-box;
      margin: 8px auto;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    #footer #f1 .t1 {
      float: left;
      width: 180px;
      height: 34px;
      background-image: none;
      padding: 6px 12px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    #footer #f1 .txt1 {
      width: 180px;
      height: 34px;
      color: #555;
      margin-left: 310px;
      padding: 6px 12px;
      box-sizing: border-box;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    #footer #f1 #txt5 {
      width: 360px;
      height: 40px;
      color: #fff;
      margin-left: 310px;
      padding: 6px 12px;
      box-sizing: border-box;
      background-color: #f0ad4e;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center; }
    #footer #f1 #dd2 {
      margin-left: 310px;
      height: 34px; }
    #footer #f1 #ch1 {
      margin-left: 310px; }
    #footer #f1 #sa3 {
      color: #5b5b5b;
      font-size: 12px;
      line-height: 40px; }
    #footer #f1 #btn {
      float: left;
      width: 180px;
      height: 34px;
      color: #555;
      padding: 6px 12px;
      box-sizing: border-box;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  #footer #last {
    margin-top: 40px;
    margin-left: 400px;
    font-size: 12px; }
    #footer #last a {
      text-decoration: none;
      color: #2ea7e0;
      padding: 0 12px;
      border-right: 1px solid #d9cfcf; }
    #footer #last span {
      color: #999999; }
