body, div, p, ul, li, img, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

#top {
  background: #f4f5f9;
  display: flex; }
  #top #left {
    height: 38px;
    width: 100%;
    padding-left: 46px; }
    #top #left li {
      float: left;
      margin-right: 22px;
      height: 38px; }
    #top #left a {
      display: inline-block;
      line-height: 38px;
      height: 38px;
      color: #7e7e7e;
      font-size: 12px; }
  #top #right {
    list-style: none;
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px; }
    #top #right #shopp {
      border: none;
      padding: none;
      padding-left: 10px; }
    #top #right #logn {
      padding: 0 10px;
      border-right: 1px solid #cfa37e; }
    #top #right img {
      width: 20px;
      height: 20px;
      background: #f4f5f9; }
    #top #right span {
      border-radius: 50%;
      color: white;
      width: 14px;
      height: 14px;
      font-size: 12px;
      text-align: center;
      line-height: 14px;
      background: #fc6053;
      position: absolute;
      right: 26px;
      top: 5px; }
    #top #right li {
      height: 38px;
      display: flex;
      align-items: center; }
      #top #right li a {
        text-decoration: none;
        display: inline-block;
        color: #7e7e7e;
        font-size: 12px; }

header {
  width: 100%;
  height: 122px;
  background: white;
  display: flex;
  align-items: center;
  padding-left: 42px;
  box-sizing: border-box; }
  header img {
    margin-right: 56px; }
  header div a {
    padding-right: 10px;
    color: #7e7e7e; }
    header div a img {
      margin-left: 5px; }

section {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
  box-sizing: border-box;
  padding-right: 45px;
  overflow: hidden; }
  section #left {
    width: 720px;
    height: 720px;
    border-right: 1px solid #dbdbdb;
    padding-left: 45px;
    box-sizing: border-box; }
    section #left .icon span {
      color: #7e7e7e;
      font-size: 12px; }
  section #se1 {
    width: 720px;
    height: 680px;
    box-sizing: border-box; }
    section #se1 #bigBox {
      width: 500px;
      height: 400px;
      position: relative; }
    section #se1 #bigBox img {
      position: absolute;
      left: 45px;
      top: 0; }
    section #se1 #box {
      width: 600px;
      height: 150px; }
    section #se1 #box div {
      float: left;
      padding-top: 60px;
      box-sizing: border-box;
      width: 100px;
      height: 60px; }
    section #se1 #rightBox {
      float: left;
      width: 400px;
      height: 300px;
      position: absolute;
      left: 550px;
      overflow: hidden;
      display: none; }
    section #se1 #smallBox {
      width: 200px;
      height: 150px;
      opacity: .4;
      background: white;
      position: absolute;
      left: 45;
      top: 0; }
    section #se1 #imges {
      position: absolute; }

#refund {
  margin-top: 40px;
  height: 180px;
  background: #f4f5f9;
  padding: 40px 0 0 40px; }
  #refund #content {
    width: 1200px;
    height: 135px;
    background: white; }
    #refund #content img {
      margin: 20px 60px;
      width: 110px;
      height: 100px; }

#section2 {
  box-sizing: border-box;
  padding-left: 35px;
  height: 230px;
  width: 100%; }
  #section2 img {
    width: 140px;
    height: 140px;
    margin-right: 26px;
    margin-top: 40px; }
  #section2 #s2 {
    float: right;
    padding-left: 50px; }
    #section2 #s2 #img1 {
      display: block;
      width: 300px;
      height: 80px;
      margin-right: 50px; }
    #section2 #s2 #img2 {
      display: block;
      width: 290px;
      height: 40px;
      margin-top: 20px;
      margin-right: 50px; }
  #section2 #s1 {
    float: left;
    margin-right: 55px; }
    #section2 #s1 span {
      color: #7e7e7e;
      font-size: 14px;
      font-weight: 900;
      height: 94px;
      line-height: 94px; }
    #section2 #s1 li {
      font-size: 12px;
      margin-bottom: 22px; }
      #section2 #s1 li a {
        text-decoration: none;
        color: #7e7e7e; }
    #section2 #s1 img {
      display: block;
      float: left; }

#footer {
  padding-left: 34px;
  height: 140px;
  background: #4a4a4a; }
  #footer #f1 {
    height: 70px; }
    #footer #f1 #f11 {
      float: left; }
      #footer #f1 #f11 a {
        margin-right: 10px;
        color: white;
        font-size: 12px;
        line-height: 70px; }
    #footer #f1 #f12 {
      float: left;
      padding-left: 80px; }
      #footer #f1 #f12 a {
        line-height: 70px;
        padding: 0 10px;
        border-right: 1px solid #e2ffe2;
        color: white;
        font-size: 12px; }
  #footer #f2 {
    height: 70px; }
    #footer #f2 img {
      width: 90px;
      height: 34px;
      margin-right: 18px; }
    #footer #f2 a {
      padding-left: 360px;
      text-decoration: none;
      color: white;
      font-size: 12px; }
