body, div, p, ul, li, img, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

section {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
  box-sizing: border-box;
  padding-right: 45px;
  overflow: hidden; }
  section #left {
    float: left;
    width: 720px;
    height: 720px;
    border-right: 1px solid #dbdbdb;
    padding-left: 45px;
    box-sizing: border-box; }
    section #left .icon span {
      color: #7e7e7e;
      font-size: 12px; }
  section #se1 {
    width: 720px;
    height: 680px;
    box-sizing: border-box; }
    section #se1 #bigBox {
      width: 500px;
      height: 400px;
      position: relative; }
    section #se1 #bigBox img {
      position: absolute;
      left: 45px;
      top: 0; }
    section #se1 #box {
      width: 600px;
      height: 150px; }
    section #se1 #box div {
      float: left;
      padding-top: 60px;
      box-sizing: border-box;
      width: 100px;
      height: 60px; }
    section #se1 #rightBox {
      float: left;
      width: 400px;
      height: 300px;
      position: absolute;
      left: 550px;
      overflow: hidden;
      display: none; }
    section #se1 #smallBox {
      width: 200px;
      height: 150px;
      opacity: .4;
      background: white;
      position: absolute;
      left: 45;
      top: 0; }
    section #se1 #imges {
      position: absolute; }
  section #se2 {
    padding-left: 44px;
    box-sizing: border-box;
    float: left; }
    section #se2 #s1 {
      font-size: 24px;
      font-weight: 900; }
    section #se2 #s2 {
      padding-top: 8px;
      font-size: 12px;
      color: #7e7e7e; }
    section #se2 #sd1 {
      height: 40px;
      border-bottom: 1px solid #eeeeee;
      box-sizing: border-box;
      line-height: 40px; }
    section #se2 #s3 {
      padding-bottom: 10px; }
      section #se2 #s3 span {
        font-size: 12px;
        color: #7e7e7e; }
    section #se2 #s4 {
      height: 60px;
      font-size: 24px;
      color: #eb6118;
      font-weight: 900;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      box-sizing: border-box;
      line-height: 60px; }
    section #se2 #s5, section #se2 #s7 {
      font-size: 10px;
      color: #999999; }
    section #se2 #s7 {
      padding-left: 70px;
      box-sizing: border-box; }
    section #se2 #s6, section #se2 #s8 {
      color: #eb6118;
      font-size: 10px;
      font-weight: 900; }
    section #se2 #bCount {
      height: 50px;
      margin-top: 10px;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      box-sizing: border-box;
      display: flex;
      align-items: center; }
      section #se2 #bCount p {
        color: #7e7e7e;
        font-size: 12px;
        margin-right: 5px; }
      section #se2 #bCount #btn {
        cursor: pointer;
        width: 25px;
        height: 25px;
        line-height: 25px;
        background: #eeeeee;
        border: none;
        text-align: center; }
        section #se2 #bCount #btn:hover {
          color: #eb6118; }
      section #se2 #bCount #add {
        cursor: pointer;
        width: 25px;
        height: 25px;
        line-height: 25px;
        background: #eeeeee;
        border: none;
        text-align: center; }
        section #se2 #bCount #add:hover {
          color: #eb6118; }
      section #se2 #bCount #txt {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        border: 1px solid #eeeeee;
        text-align: center; }
    section #se2 .sd12 {
      width: 140px;
      height: 45px;
      border: 1px solid #ed6c00;
      box-sizing: border-box;
      text-align: center; }
      section #se2 .sd12 span {
        line-height: 45px; }
    section #se2 #s9, section #se2 .s10 {
      line-height: 38px;
      height: 38px;
      width: 100px;
      color: #7e7e7e;
      font-size: 12px; }
    section #se2 #buy a {
      display: inline-block;
      width: 140px;
      height: 40px;
      background: #eb6118;
      border: none;
      color: white;
      text-align: center;
      line-height: 40px; }
    section #se2 #buy span {
      color: #7e7e7e;
      font-size: 12px; }
    section #se2 #hint {
      color: #2ea7e0;
      font-size: 12px;
      line-height: 45px; }
      section #se2 #hint span {
        color: #7e7e7e;
        font-size: 12px; }
    section #se2 #sd6 {
      width: 300px;
      height: 45px; }
    section #se2 .sd7 {
      float: left;
      width: 140px;
      margin-right: 10px;
      box-sizing: border-box;
      height: 45px;
      border: 1px solid #eeeeee;
      line-height: 45px;
      text-align: center; }
      section #se2 .sd7 span {
        font-size: 14px;
        margin-left: 20px; }
    section #se2 #sd3 {
      width: 300px;
      height: 100px; }
    section #se2 .sd2 {
      float: left;
      margin-right: 10px;
      width: 140px;
      height: 45px;
      overflow: hidden;
      border: 1px solid #eeeeee;
      box-sizing: border-box; }
      section #se2 .sd2 img {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        vertical-align: middle; }
      section #se2 .sd2 span {
        line-height: 45px;
        margin-left: 20px;
        font-size: 14px; }
    section #se2 .n {
      box-sizing: border-box;
      border: 1px solid #ed6c00; }

#sec {
  padding: 0 46px;
  box-sizing: border-box; }
  #sec #list {
    height: 80px;
    margin-bottom: 50px;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box; }
    #sec #list .a1 {
      border-bottom: 2px solid #ed6c00; }
    #sec #list span {
      position: relative;
      top: -2px;
      display: inline-block;
      text-align: center;
      line-height: 80px;
      width: 150px;
      display: inline-block;
      color: #7e7e7e;
      font-size: 14px; }
  #sec .all {
    width: 100%; }
    #sec .all .l1, #sec .all .l2, #sec .all .l3 {
      display: none; }
    #sec .all .l1 {
      border: 1px solid #dfdfdf;
      box-sizing: border-box;
      padding-top: 20px;
      overflow: hidden; }
      #sec .all .l1 .All {
        overflow: hidden; }
      #sec .all .l1 .left {
        float: left;
        width: 100px;
        height: 300px;
        color: #7e7e7e;
        padding-left: 10px;
        box-sizing: border-box; }
      #sec .all .l1 .right {
        box-sizing: border-box;
        padding: 20px;
        float: left;
        width: 1000px;
        height: 300px;
        border: 1px solid #dfdfdf;
        color: #7e7e7e;
        font-size: 14px; }
    #sec .all .l2 .All {
      overflow: hidden; }
      #sec .all .l2 .All .left {
        float: left; }
        #sec .all .l2 .All .left img {
          width: 69px;
          height: 69px; }
        #sec .all .l2 .All .left p {
          font-size: 10px; }
      #sec .all .l2 .All .right {
        float: left;
        margin-left: 14px; }
        #sec .all .l2 .All .right span {
          margin-top: 20px;
          float: left;
          display: inline-block;
          width: 10px;
          height: 14px;
          background: url(../img/shopp/d.png) no-repeat; }
        #sec .all .l2 .All .right .small {
          padding-left: 16px;
          box-sizing: border-box;
          width: 900px;
          float: left;
          height: 70px;
          border: 1px solid #efefef; }
          #sec .all .l2 .All .right .small .s1 {
            color: #666666;
            font-size: 12px;
            line-height: 30px; }
          #sec .all .l2 .All .right .small .s2 {
            color: #a6a6a6;
            font-size: 12px;
            line-height: 30px; }
  #sec img {
    display: block;
    width: 1200px; }

#refund {
  margin-top: 40px;
  height: 180px;
  background: #f4f5f9;
  padding: 40px 0 0 40px; }
  #refund #content {
    width: 1200px;
    height: 135px;
    background: white; }
    #refund #content img {
      margin: 20px 60px;
      width: 110px;
      height: 100px; }
