@charset "utf-8";

body,div,p,ul,li,img,h3,h4{
	margin:0;
	padding:0;
	list-style:none;
	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}

section{
	width:100%;
	height:1015px;
	background:#f4f5f9; 
	padding:20px 34px 0 34px;
	box-sizing:border-box;
	.s1{
		height:65px;
		background:white;
		padding:10px;
		box-sizing:border-box;
		overflow:hidden;
		.mulu{
			width:1200px;
			height:42px;
			.first{
				float:left;
				width:400px;
				height:42px;
				.f1{
					float:left;
					width: 360px;
	   				height: 42px;
	   				background: #eb6118;
	   				line-height: 65px;
				}
				span{
					float:left;
					display: inline-block;
					width:40px;
					height:42px;
					background:url(../img/scart/1.png); 
				}
				
			}
			.second{
				float:left;
				width:400px;
				height:42px;
				.f1{
					float:left;
					width: 360px;
	   				height: 42px;
	   				background: #dcdcdc;
	   				line-height: 65px;
				}
				span{
					float:left;
					display: inline-block;
					width:40px;
					height:42px;
					background:url(../img/scart/2.png); 
				}
				
			}
			.third{
				float:left;
				width:400px;
				height:42px;
				.f1{
					float:left;
					width: 360px;
	   				height: 42px;
	   				background: #dcdcdc;
	   				line-height: 65px;
				}
				
			}
		}
	}
	.s2{
		margin-top:20px;
		height:400px;
		background:white;
		.list1{
			font-size:14px;
			height:40px; 
			border-bottom:1px solid #e5e5e5;
			box-sizing:border-box;
			color:#979693;
			padding-top:5px;
			span{
				height:30px;
				line-height: 30px;
				display: inline-block;
				border-right:1px solid #e6e4e3;
				text-align: center;
				box-sizing:border-box;
			}
			.p1{
				width:80px;
			}
			.p2{
				width:600px;
			}
			.p3{
				width:140px;
			}
			.p4{
				width:100px;
			}
			.p5{
				border:none; 
			}
		}
		.test{
			height:120px;
			border-bottom:1px solid #e6e4e3;
			box-sizing:border-box;
			padding-top:30px;
			color:#7e7e7e;
			font-size:14px;
			.c1{
				margin:25px 50px 0 35px;
				float:left;

			}
			img{
				width:60px;
				height:60px;
				float:left;
			}
			.d1{
				display: inline-block;
				margin-left:10px;
				margin-right:400px;
				float:left;
			}
			.p3{
				display: block;
			}
			.p4{
				float:left;
			}
			.price{
				float:left;
			}
			.p6{
				color:#ff0000;
				float:left;
			}
			.p7{
				width:36px;
				border:none;
				color:#ff0000;
				float:left;
			}
			.a1{
				color:#7e7e7e;
				margin-left:68px;
			}
			.count{
				display: block;
				float:left;
				margin:0 40px 0 80px;
				.txt{
				    width: 40px;
				    height: 22px;
				    border: 1px solid #E1E1E1;
				    text-align: center;
				    font-size: small;
				    box-sizing:border-box;
				    float:left;
				    margin:0 5px;
				}
				a{
					width:22px;
					height:22px;
					text-align: center;
					display: block;
					float:left;
					border: 1px solid #E1E1E1;
					box-sizing:border-box;
				}
			}
		}
		.di{
			height:40px;
		}
	}
}