@charset "utf-8";

body,div,p,ul,li,img,h3,h4{
	margin:0;
	padding:0;
	list-style:none;
	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#top{
	background:#f4f5f9;
	display:flex;

	#left{
		height:38px;
		width:100%;
		padding-left:46px;
		li{
			float:left;
			margin-right:22px;
			height:38px;
		}
		a{
			
			display:inline-block;
			line-height:38px;
			height:38px;
			color:#7e7e7e;
			font-size:12px;

		}
	}
	#right{
		list-style:none;
		height:38px;
		width:100%;
		display:flex;
		justify-content:flex-end;
		align-items:center;
		padding-right:40px;
		#shopp{
			border:none;
			padding:none;
			padding-left:10px;
		}
		#logn{
			padding:0 10px;
			border-right:1px solid #cfa37e;
		}
		img{
			width:20px;
			height:20px;
			background:#f4f5f9;
		}
		span{
			border-radius:50%;
			color:white;
			width:14px;
			height:14px;
			font-size:12px;
			text-align:center;
			line-height:14px;
			background:#fc6053;
			position:absolute;
			right:26px;
			top:5px;
		}
		li{
			height:38px;
			display:flex;
			align-items:center;
		
		a{
			text-decoration:none;
			display:inline-block;
			
			color:#7e7e7e;
			font-size:12px;

		}
		}
	}
}
header{
	width:100%;
	height:122px;
	background:white;
	display:flex;
	align-items:center;
	padding-left:42px;
	box-sizing:border-box;
	img{
		margin-right:56px;
	}
	div{
		a{
			padding-right:10px;
			color:#7e7e7e;
			img{
				margin-left:5px;
			}
		}
		
	}
}

section{
	border-top:1px solid #eeeeee;
	padding-top:20px;
	box-sizing:border-box;
	padding-right:45px;
	// padding-bottom:36px;
	overflow:hidden;
	#left{
		width:720px;
		height:720px;
		border-right:1px solid #dbdbdb;
		padding-left:45px;
		box-sizing:border-box;
		.icon{
			span{
				color:#7e7e7e;
				font-size:12px;
			}
		}
	}
	#se1{
		// float:left;
		width:720px;
		height:680px;
		
		box-sizing:border-box;
		#bigBox{
		width: 500px;
		height: 400px;
		position: relative;
	}
	#bigBox img{
		position: absolute;
		left: 45px;
		top:0;

	}
	#box{
		width: 600px;
		height: 150px;

	}
	#box div{
		float: left;
		padding-top:60px;
		box-sizing:border-box;
		width: 100px;
		height: 60px;
	}
	#rightBox{
		float: left;
		width: 400px;
		height: 300px;
		position: absolute;
		left: 550px;
		overflow: hidden;
		display: none;
	}
	#smallBox{
		width: 200px;
		height: 150px;
		opacity: .4;
		background: white;
		position: absolute;
		left: 45;
		top:0;
	}
	#imges{
		position: absolute;
	}
	}
	// #se2{
	// 	padding-left:44px;
	// 	box-sizing:border-box;
	// 	float:left;
	// 	display: flex;
	// 	flex-direction:column;
	// 	#s1{
	// 		font-size:24px;
	// 		font-weight:900;
	// 	}
	// 	#s2{
	// 		padding-top:8px;
	// 		font-size:12px;
	// 		color:#7e7e7e;
	// 	}
	// 	#sd1{
	// 		height:40px;
	// 		border-bottom:1px solid #eeeeee;
	// 		box-sizing:border-box;
	// 		line-height: 40px;
	// 	}
	// 	#s3{
	// 		padding-bottom:10px;
	// 		span{
	// 			font-size:12px;
	// 			color:#7e7e7e;
	// 		}
	// 	}
	// 	#s4{
	// 		height:60px;
	// 		width:470px;
	// 		font-size:24px;
	// 		color:#eb6118;
	// 		font-weight:900;
	// 		border-top:1px solid #eeeeee;
	// 		border-bottom:1px solid #eeeeee;
	// 		box-sizing:border-box;
	// 		line-height: 60px;
	// 	}
	// 	#s5,#s7{
	// 		font-size:10px;
	// 		color:#999999;
	// 	}
	// 	#s7{
	// 		padding-left:70px;
	// 		box-sizing:border-box;
	// 	}
	// 	#s6,#s8{
	// 		color:#eb6118;
	// 		font-size:10px;
	// 		font-weight:900;
	// 	}
	// 	#bCount{
	// 		height:50px;
	// 		margin-top:10px;
	// 		border-top:1px solid #eeeeee;
	// 		border-bottom:1px solid #eeeeee;
	// 		box-sizing:border-box;
	// 		display: flex;
	// 		align-items:center;
	// 		p{
	// 			color:#7e7e7e;
	// 			font-size:12px;
	// 			margin-right:5px;
	// 		}
	// 		#btn{
	// 			width:25px;
	// 			height:25px;
	// 			background:#eeeeee;
	// 			border:none;
	// 			text-align:center;
	// 		}
	// 		#txt{
	// 			width:20px;
	// 			height:20px;
	// 			margin:0 10px;
	// 			border:1px solid #eeeeee;
	// 			text-align:center;
	// 		}
	// 	}
	// 	#sd12{
	// 		width:140px;
	// 		height:45px;
	// 		border:1px solid #eeeeee;
	// 		box-sizing:border-box;
	// 		display: flex;
	// 		align-items:center;
	// 		justify-content: center;
	// 	}
	// 	#s9,#s10{
	// 		line-height: 38px;
	// 		height:38px;
	// 		color:#7e7e7e;
	// 		font-size:12px;
	// 	}
	// 	#buy{
	// 		input{
	// 			width:140px;
	// 			height:40px;
	// 			background:#eb6118;
	// 			border:none;
	// 		}
	// 		span{
	// 			color:#7e7e7e;
	// 			font-size:12px;
	// 		}
	// 	}
	// 	#hint{
	// 		color:#2ea7e0;
	// 		font-size:12px;
	// 		line-height: 45px;
	// 		span{
	// 			color:#7e7e7e;
	// 			font-size:12px;
	// 		}
	// 	}
	// 	#sd6{
	// 		display: flex;
	// 		#sd7{
	// 			width:140px;
	// 			margin-right:10px;
	// 			box-sizing:border-box;
	// 		height:45px;
	// 		border:1px solid #eeeeee;
	// 		display: flex;
	// 		align-items:center;
	// 		span{
	// 			font-size:14px;
	// 			margin-left:20px;
	// 		}
	// 		}
	// 	}
	// 	#sd4{
	// 		width:140px;
	// 		height:45px;
	// 		box-sizing:border-box;
	// 		border:1px solid #eeeeee;
	// 		display: flex;
	// 		align-items:center;
	// 		margin-top:10px;
	// 		span{
	// 			font-size:14px;
	// 			margin-left:20px;
	// 		}
	// 	}
	// 	#sd3{
	// 		display: flex;
	// 	}
	// 	#sd2{
	// 		margin-right:10px;
	// 		width:140px;
	// 		height:45px;
	// 		border:1px solid #eeeeee;
	// 		box-sizing:border-box;
	// 		display: flex;
	// 		align-items:center;
	// 		img{
	// 			margin-left:20px;
	// 		}
	// 		span{
	// 			margin-left:20px;
	// 			font-size:14px;
	// 		}
	// 	}
	// }

}
// #sec{
// 	padding:0 46px;
// 	box-sizing:border-box;
// 	#list{
// 		height:34px;
// 		margin-bottom:50px;
// 		border-bottom:1px solid #e1e1e1;
// 		box-sizing:border-box;
// 		a{
// 			width:150px;
// 			display: inline-block;
// 			color:#7e7e7e;
// 			font-size:14px;
// 		}
// 	}
// 	img{
// 		display: block;
// 		width:1200px;
// 	}
	
// }
#refund{
	margin-top:40px;
	height:180px;
	background:#f4f5f9;
	padding:40px 0 0 40px;
	#content{
		width:1200px;
		height:135px;
		background:white;
		img{
			margin:20px 60px;
			width:110px;
			height:100px;
		}
	}
}
#section2{
	box-sizing:border-box;
	padding-left:35px;
	height:230px;
	width:100%;
	img{
		width:140px;
		height:140px;
		margin-right:26px;
		margin-top:40px;
	}
	#s2{
		float:right;
	padding-left:50px;
		#img1{
			display: block;
			width:300px;
			height:80px;
			margin-right:50px;
		}
		#img2{
			display: block;
			width:290px;
			height:40px;
			margin-top:20px;
			margin-right:50px;
		}
		

	}
	#s1{
		float:left;
		margin-right:55px;
		span{
			color:#7e7e7e;
			font-size:14px;
			font-weight:900;
			height:94px;
			line-height: 94px;
		}
		li{
			font-size:12px;
			margin-bottom:22px;
			a{
				text-decoration:none;
				color:#7e7e7e;
			}
		}
		img{
			display: block;
			float:left;
		}
	}
}
#footer{
	padding-left:34px;
	height:140px;
	background:#4a4a4a;
	#f1{
		height:70px;
		#f11{
			float:left;
			a{
				margin-right:10px;
				color:white;
				font-size:12px;
				line-height: 70px;
			}
		}
		#f12{
			float:left;
			padding-left:80px;
			a{
				line-height: 70px;
				padding:0 10px;
				border-right:1px solid #e2ffe2;
				color:white;
				font-size:12px;
			}
		}
		
		
	}
	#f2{
		height:70px;
		img{
			width:90px;
			height:34px;
			margin-right:18px;
		}
		a{
			padding-left:360px;
			text-decoration:none;
			color:white;
			font-size:12px;
		}
	}
}